.center {
    margin-left: auto;
    margin-right: auto;
}


.left-float {
    float: left;
}

.right-float {
    float: right;
}
.shining-star {
    background: url(../img/shinning-star.gif) no-repeat 0px 0px;
    width:80px;
    height: 80px;
}

.eval {
    background: url(../img/eval.jpg) no-repeat 0px 0px;
    width:400px;
    height: 150px;
    margin-left: 150px;
}